@media screen and (max-width: 850px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
    body #page {
        width: 100%;
    }
    body code {
        white-space: normal;
    }
    body a {
        text-decoration: underline;
    }
}

#index {
    color: #0075c9;
    text-decoration: none;
}

#index:hover {
    color: #009bdf;
    text-decoration: underline;
}

botton:hover {
    background-color: #009bdf;
}

p {
    font-size: 16px;
}

a {
    color: #0075c9;
    text-decoration: none;
}

body {
    font-family: "Microsoft YaHei", "Arial", "Helvetica", "sans-serif", "STXihei", "宋体";
}

li {
    font-size: 14px;
}

a:hover {
    color: #009bdf;
    text-decoration: underline;
}

#page {
    width: 60%;
    margin: 0 auto;
}

img {
    width: 60%;
}

#login-form {
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    background-color: #fff;
    /*border: 1px solid #eee;*/
}

#login-form-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.publish-time {
    color: #c8c8c8;
    font-size: 90%;
}

.article-title {
    color: #333;
    text-decoration: none;
}

.article-title:hover {
    color: #009bdf;
    text-decoration: underline;
}

.login-input {
    border-top: 1px solid #eee;
}

.login-name {
    width: 80%;
    padding: 15px 8px;
    border: 0px;
    font-size: 14px;
}

.login-password {
    width: 80%;
    padding: 15px 8px;
    border: 0px;
    font-size: 14px;
}

.login-action {
    padding: 10px 8px 0px 8px;
    line-height: 30px;
}

.publish-input {
    width: 100%;
    height: 20px;
    margin: 0;
    font-size: 14px;
}

botton.submit {
    display: block;
    padding: 5px 0;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.login-botton {
    width: 100%;
}

.blue-bottom {
    background-color: #0077d9;
    border-radius: 3px;
    line-height: 1;
}

.comment-header {
    font-size: 25px;
}

.comment-commentor {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.comment-footer {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 14px;
}

.comment-footer:visited {
    color: #c8c8c8;
    text-decoration: none;
}

.comment-footer:hover {
    color: #009bdf;
    text-decoration: none;
}

.comment-list {
    margin-top: 0.5em;
    border-bottom: 1px solid #c8c8c8;
}

.required {
    color: red;
}

#comment-content {
    height: 5em;
}

.comment-label {
    flex: none;
    color: #c8c8c8;
    margin-top: 4px;
    width: 5em;
    display: inline-block;
    font-size: 14px;
}

.comment-input-container {
    display: flex;
    margin-top: 10px;
}

.comment-input {
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    height: 20px;
    padding: 3px;
    font-size: 14px;
    width: 15em;
}

.comment-textarea {
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    overflow: auto;
    vertical-align: text-top;
    width: 100%;
    font-size: 14px;
    /*height: 10em;*/
}

#comment-content-container {
    flex: 1;
    margin-left: 0 auto;
    position: relative;
    width: 580px;
    display: inline-block;
}

.comment-submit-botton {
    width: 50px;
    padding: 3px 0;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #0077d9;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 6em;
}

.comment-paragraph {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 14px;
}

.commenter-archor {
    font-size: 14px;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
    color: #0077d9;
    font-style: normal;
}

.commenter-archor:hover {
    color: #009bdf;
}

#comment-block {
    color: #333;
    text-decoration: none;
}

#comment-block:hover {
    color: #333;
}